<div class="container-fluid">
  <h1 class="container-h1">About</h1>
  <div class="row">
    <div class="col-sm-5">
      <div class="hov-img w-100">
        <img src="https://p4.wallpaperbetter.com/wallpaper/932/54/455/hamburger-french-fries-fast-food-wallpaper-preview.jpg" alt="Warm welcome" class="hov-img-bottom img-fluid w-100">
        <div class="hov-img-top hov-img-slideup">
          <div class="hov-img-text">
            <h5>Warm welcome</h5>
            <p>It had separate tables, a menu, and specialized in soups made with a base of meat and eggs, which were said to be restaurants or, in English "restoratives".</p>
          </div>
        </div>
      </div>
      <div class="hov-img w-100">
        <img src="https://freedesignfile.com/upload/2019/05/Healthy-food-background-illustration-vector-material-01.jpg" alt="Delicious meals" class="hov-img-bottom img-fluid w-100">
        <div class="hov-img-top hov-img-slideup">
          <div class="hov-img-text">
            <h5>Delicious meals</h5>
            <p> In about 1765 a new kind of eating establishment, called a "Bouillon", was opened on rue des Poulies, near the Louvre, by a man named Boulanger.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="row ">
        <div class="restaurant-history slideanim text-center">
          <h3 class="section-heading">Restaurant Dinner Dash</h3>
          <p class="about-history first">Welcome to Dinner Dash, your number one source for all products delivery. We're dedicated to giving you the very best of Food, with a focus on Quality, Price, Hygen Food.
            Founded in 2021 by Test Project, Dinner Dash has come a long way from its beginnings in Pakistan. When Test Project first started out, his passion for eco-friendly cleaning products drove them to tons of research so that Dinner Dash can offer you the world's most advanced delivery solutions. We now serve customers all over country, and are thrilled that we're able to turn our passion into our own website.
          </p>
          <button type="button" class="btn more" id="more" data-toggle="collapse" data-target="#demo">More</button>
          <div id="demo" class="collapse">
            <p class="about-history">
              I hope you enjoy my products as much as I enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
              Sincerely,
              Test Project
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
