<h1 class="text-center mt-5 pt-5">New Restaurant</h1>

<%= render 'form', restaurant: @restaurant %>
<div class="mx-auto justify-center">
  <%= link_to 'Back', restaurants_path, class:"btn btn-warning ml-2 w-25" %>
</div>
