// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.circle-img{
	width: 50px; height: 50px; overflow:hidden; border-radius:40px
}

.image-frame{
	width: 50px;
	height: 50px;
}

.delete_img{
  right:0px;
  position: absolute;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 10px;
}

.mw-75{
  max-width: 75%;
  position:relative;
  margin: auto;
}



// for sidebar
/* Sidebar Styles */
#wrapper {
	padding-right: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#wrapper.toggled {
	padding-right: 250px;
	#sidebar-wrapper {
		width: 250px;
	}
	#page-content-wrapper {
		position: absolute;
		margin-left: -250px;
	}
}
#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	right: 250px;
	width: 0;
	height: 100%;
	margin-right: -250px;
	overflow-y: auto;
	background: #732d72;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#page-content-wrapper {
	width: 100%;
	position: absolute;
	// padding: 15px;
}
.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		text-indent: 20px;
		line-height: 40px;
		a {
			display: block;
			text-decoration: none;
			color: #fff;
			&:hover {
				text-decoration: none;
				color: #fff;
				background: rgba(255, 255, 255, 0.2);
			}
			&:active {
				text-decoration: none;
			}
			&:focus {
				text-decoration: none;
			}
		}
	}
	>.sidebar-brand {
		height: 65px;
		font-size: 18px;
		line-height: 60px;
		a {
			color: #fff;
			&:hover {
				color: #fff;
				background: none;
			}
		}
	}
}
@media (min-width: 768px) {
	#wrapper {
		padding-right: 0;
	}
	#wrapper.toggled {
		padding-right: 250px;
		#sidebar-wrapper {
			width: 250px;
		}
		#page-content-wrapper {
			position: relative;
			margin-left: 0;
		}
	}
	#sidebar-wrapper {
		width: 0;
	}
	#page-content-wrapper {
		position: relative;
	}
}
