// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

/*  ******* Header + Navigation ******* */
/* ******* About ******* */
/* ******* Menu ******* */
/* ******* Service ******* */
/* ******* Gallery ******* */
/* ******* Our staff ******* */
/* ******* Testimonials ******* */
/* ******* Contact ******* */
/* ***** Footer ***** */
html {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  width: 100%;
}

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  width: 100%;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}

ul {
  list-style-type: none;
}

h1 {
  text-transform: none;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

h2 {
  text-transform: none;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

h3 {
  text-transform: none;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

h4 {
  text-transform: none;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

h5 {
  text-transform: none;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

h6 {
  text-transform: none;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

hr {
  border-color: #ffc266;
  border-width: 5px;
  max-width: 100%;
}

.container-h1 {
  font-family: 'Lora', serif;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  margin: 50px auto;
  color: #333;
  font-family: 'Ubuntu', sans-serif;
}

.btn {
  color: #fff;
  background-color: #182c39;
  margin: 20px auto;
  border-radius: 0;
  font-weight: 500;
  display: table;
  padding: 10px;

  &:hover {
    color: #182c39;
    background-color: transparent;
    border: 1px solid #182c39;
  }
}

.hr-h3s {
  border: 3px solid #E94B3C;
  width: 70px;
  margin: 0 auto 35px auto;
}

textarea {
  resize: none;
}

section {
  align-items: center;
  padding: 50px 60px;
}

.bg-section {
  h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
    color: #ffc266;
    background-color: #182c39;
    margin: 50px 0;
    padding: 25px 20px;
    border-radius: 50px;
  }
}

.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  -moz-animation-name: slide;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  visibility: visible;
}

.navbar {
  background-color: #182c39;
  border-color: rgb(51, 17, 0);
  border-color: rgba(51, 17, 0, 0.2);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding: 15px 0;
  transition: padding .5s;

  .navbar-brand {
    color: #fff;
    font-family: 'Leckerli One', cursive;
    font-weight: 500;
    text-transform: none;
    font-size: 25px;
    padding-left: 15px;
    text-shadow: black 0.3em 0.3em 0.3em;

    &:hover {
      color: #ffc266;
      transition: color 1s;
    }

    &:focus {
      color: #ffc266;
      transition: color 1s;
    }
  }

  .navbar-nav {
    padding-right: 50px;

    >li {
      >a {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        color: #fff;
        margin: auto 5px;
        font-family: 'Lato', sans-serif;
        text-shadow: #222 0.3em 0.3em 0.3em;

        &:hover {
          color: #ffc266;
          transition: color 1s;
        }

        &:focus {
          &:hover {
            color: #ffc266;
            transition: color 1s;
          }
        }
      }
    }

    >li.active {
      >a {
        &:hover {
          background-color: transparent;
        }

        &:focus {
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }
}

.navbar.scrolled {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  padding: 5px 0;
  opacity: 0.9;
}

.jumbotron {
  margin-bottom: 0px;
  background-image: url('https://res.cloudinary.com/dbte0ueti/image/upload/v1536951689/new/jumbotron.jpg');
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  height: 700px;

  .header-content-inner {
    font-weight: 700;
    text-transform: none;
    margin-bottom: 0;
    margin: 200px;
    font-family: 'Roboto', sans-serif;
  }

  h1 {
    font-size: 45px;
  }

  h3 {
    font-size: 25px;
  }
}

.bg-about {
  margin: auto 50px;
  background-color: white;
}

#about {
  h3 {
    font-family: 'Roboto', sans-serif;
    color: #E94B3C;
  }

  .restaurant-history {
    p {
      padding: 20px 80px;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      color: #444;
    }
  }

  h1 {
    padding-top: 35px;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .hov-img {
    * {
      box-sizing: border-box;
    }

    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;

    img {
      max-width: 100%;
    }

    &:hover {
      .hov-img-top {
        opacity: 1;
      }

      .hov-img-slideup {
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
      }
    }
  }

  .hov-img-bottom {
    display: block;
  }

  .hov-img-top {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .hov-img-text {
    text-align: center;
    font-size: 18px;
    display: inline-block;
    position: absolute;
    text-shadow: black .2em .2em .2em;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    p {
      font-size: 15px;
      line-height: 1.2em;
    }
  }

  .hov-img-slideup {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
}

p.first {
  &::first-letter {
    font-size: 150%;
    color: #000;
  }
}

.bg-menu {
  margin: auto 50px;
}

#menu {
  .nav-pills {
    background-color: #182c39;
    border-color: transparent;
    font-weight: 500;
    color: #000;
    margin: 25px;

    >li {
      >a {
        font-weight: 500;
        font-size: 15px;
        color: #fff;
        border-radius: 0;
        border: 1px solid #fff;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;

        &:focus {
          font-weight: 500;
          font-size: 15px;
          color: #fff;
          border-radius: 0;
          border: 1px solid #fff;
          text-transform: uppercase;
          font-family: 'Roboto', sans-serif;

          &:hover {
            color: #fff;
            background-color: #944743;
          }
        }

        &:hover {
          color: #fff;
          background-color: #944743;
        }
      }

      >a.active {
        background-color: #944743;
        color: #fff;

        &:focus {
          background-color: #944743;
          color: #fff;
        }
      }
    }
  }

  .hr-menu {
    border: 2px solid #182c39;
    width: 100%;
  }

  .list-group-item {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #555;
    padding: 0 auto;

    &:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    &:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    h4 {
      text-align: left;
      color: #182c39;
      text-transform: none;
      font-size: 18px;
    }

    p {
      text-align: left;
      color: #555555;
      font-weight: 500;
      font-style: italic;
      text-transform: none;
      font-size: 14px;
    }
  }

  .tab-content {
    .tab-pane {
      h3 {
        text-align: center;
        font-family: 'Leckerli One', cursive;
      }
    }
  }

  .badge {
    border-radius: 0;
    background-color: #444;
    font-size: 12px;
    color: #fff;
  }

  .right-cover {
    background-color: #fff;
    color: #DC4C46;
    text-shadow: #DC4C46 .4em .4em .4em;
    padding: 10px;
    text-transform: none;
  }
}

#service {
  .service-round {
    height: 100px;
    width: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 8px solid #182c39;
    text-align: center;
    display: inline-block;
    padding: 10px;
    color: #182c39;

    i {
      color: #182c39;
    }
  }

  h4 {
    margin: 10px auto;
    font-size: 20px;
    color: #555;
  }

  .round {
    &:hover {
      .fa {
        color: #ffc266;
        transition: color 2s;
      }

      .service-round {
        border-color: #ffc266;
        transition: border-color 2s;
      }
    }
  }
}

#gallery {
  h3 {
    font-family: 'Lato', sans-serif;
    text-transform: none;
    color: #182c39;
    margin: 50px auto 10px auto;
    font-weight: 700;
  }

  .gallery {
    margin: 0px 80px;
  }

  .no-gutter {
    >[class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .caption-content {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #f1f1f1;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;

    .fa {
      white-space: nowrap;
      color: white;
      font-size: 40px;
      position: absolute;
      overflow: hidden;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  .portfolio-item {
    &:hover {
      .caption-content {
        bottom: 0;
        height: 100%;
      }
    }
  }

  .more-img {
    margin: 0 80px;
    background-color: #182c39;

    .to-gallery {
      text-align: center;
      text-transform: none;
      color: #fff;
      padding: 10px;
      margin: 0px auto;

      h4 {
        text-transform: none;
        color: #fff;
        padding: 5px;
        margin: auto;
        font-size: 16px;
      }
    }

    .social-networks {
      .fa {
        font-size: 20px;
        margin: 5px 5px;
        color: #fff;

        &:hover {
          color: #ffc266;
        }
      }
    }
  }
}

#staff {
  .thumbnail-row {
    margin: auto 60px;
  }

  h3 {
    font-family: 'Lato', sans-serif;
    text-transform: none;
    color: #182c39;
    margin: 50px auto 10px auto;
  }

  img {
    border-radius: 50%;
    margin-bottom: 10px;

    &:hover {
      box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.9);
      transition: .3s;
    }
  }

  h5 {
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }

  h6 {
    color: #555;
    font-size: 16px;
  }
}

#testimonials {
  .hr-testimonials {
    border: 1px solid #182c39;
    width: 50%;
    margin: 0 auto 35px auto;
  }

  h3 {
    color: #182c39;
    margin: 40px auto;
  }

  .carousel {
    float: none;
    margin: auto;
  }

  .carousel-indicators {
    li {
      border: 2px solid #182c39;
      background-color: #fff;
      height: 10px;
      width: 10px;
      border-radius: 50%;
    }

    li.active {
      border-color: #fff;
      background-color: #182c39;
    }
  }

  .carousel-item {
    h4 {
      font-size: 18px;
      line-height: 1.2em;
      font-weight: 500;
      padding-bottom: 20px;
    }

    h5 {
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 80px;
      font-style: italic;
    }
  }
}

#contact {
  .form-group {
    input {
      border: 1px solid #000;
      border-radius: 0;

      &:hover {
        border-color: #ababee;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
      }
    }

    textarea {
      border: 1px solid #000;
      border-radius: 0;

      &:hover {
        border-color: #ababee;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
      }
    }
  }

  .contact-buttons {
    input {
      color: #fff;
      background-color: #182c39;
      margin: 20px auto 40px auto;
      border-radius: 0;
      font-weight: 500;
      padding: 10px;
      border: 1px solid #182c39;
      cursor: pointer;

      &:focus {
        color: #fff;
        background-color: #182c39;
        margin: 20px auto 40px auto;
        border-radius: 0;
        font-weight: 500;
        padding: 10px;
        border: 1px solid #182c39;
        cursor: pointer;
      }

      &:hover {
        color: #182c39;
        background-color: #fff;
      }
    }
  }

  .left-box {
    background-color: #182c39;
    margin: 0 20px;
    font-size: 15px;
    text-transform: none;
    line-height: 1.8em;
    font-weight: 500;
    padding: 30px 50px;
    color: #fff;

    .span-contact {
      color: #ffc266;
      font-weight: 700;
      padding-right: 20px;
      font-size: 17px;
    }
  }

  #googleMap {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

#footer {
  background-color: #182c39;
  color: white;
  font-family: 'Roboto', sans-serif;

  ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 2.2;
  }

  h5 {
    font-size: 18px;
    color: white;
    margin-top: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  a {
    color: #aaa;

    &:hover {
      text-decoration: none;
      color: white;
    }

    &:focus {
      text-decoration: none;
      color: white;
    }
  }

  .social-networks {
    padding-top: 20px;
    padding-bottom: 25px;
  }

  .footer-items {
    .fa {
      font-size: 17px;
      margin-bottom: 5px;
      background-color: white;
      color: #182c39;
      border-radius: 50%;
      padding-bottom: 25px;
      height: 30px;
      width: 30px;
      text-align: center;
      line-height: 31px;
      text-decoration: none;
      transition: color 1s;
    }

    margin: auto;
    padding-left: 50px;
    font-size: 15px;
  }

  .fa-facebook {
    &:hover {
      border: 1px solid #fff;
      color: #fff;
      background-color: #182c39;
    }
  }

  .fa-instagram {
    &:hover {
      border: 1px solid #fff;
      color: #fff;
      background-color: #182c39;
    }
  }

  .hr-foot {
    width: 80%;
    margin: 10px auto;
    border: 1px solid #fff;
  }

  .to-top {
    color: #fff;
    font-size: 30px;
    position: fixed;
    right: 12px;
    bottom: 12px;
    height: 40px;
    width: 40px;
    text-decoration: none;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-color: #222;
      color: #fff;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
    }
  }
}

.footer-copyright {
  background-color: #10222e;

  p {
    text-align: center;
    color: #ccc;
    font-size: 15px;
    padding: 10px 0;
    margin-bottom: 0;
  }
}

.all_products {
  .card {
    max-width: 1000px;
    width: 100%;
    padding: 4rem;
    background-color: rgb(46, 45, 45);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .row {
    margin: 0;
  }

  .path {
    color: grey;
    margin-bottom: 1rem;

    a {
      color: #ffffff;
    }
  }

  .info {
    padding: 6vh 0vh;
  }

  .checked {
    color: rgb(255, 217, 0);
    margin-right: 1vh;
  }

  .fa-star-half-full {
    color: rgb(255, 217, 0);
  }

  img {
    height: fit-content;
    width: 75%;
    padding: 1rem;
  }

  .title {
    .col {
      padding: 0;
    }
  }

  .fa-heart-o {
    font-size: 2rem;
    color: #ffffffaf;
    font-weight: lighter;
  }

  #reviews {
    margin-left: 3vh;
    color: grey;
  }

  .price {
    margin-top: 2rem;
  }

  label.radio {
    span {
      padding: 1vh 4vh;
      background-color: rgb(54, 54, 54);
      color: grey;
      display: inline-block;
      margin-right: 2vh;
    }

    input {
      &:checked+span {
        border: 1px solid white;
        padding: 1vh 4vh;
        background-color: rgb(54, 54, 54);
        margin-right: 2vh;
        color: #ffffff;
        display: inline-block;
      }

      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
      pointer-events: none;
    }

    cursor: pointer;
  }

  .carousel-control-prev {
    width: unset;
  }

  .carousel-control-next {
    left: 8vh;
    right: unset;
    width: unset;
  }

  .lower {
    margin-top: 3rem;

    i {
      padding: 2.5vh;
      margin-right: 1vh;
      color: grey;
      border: 1px solid rgb(85, 85, 85);
    }

    .col {
      padding: 0;
    }
  }

  .btn {
    background-color: transparent;
    border-color: rgba(186, 216, 125, 0.863);
    color: rgba(186, 216, 125, 0.863);
    padding: 1.8vh 4.5vh;
    height: fit-content;
    border-radius: 3px;

    &:focus {
      box-shadow: none;
      outline: none;
      box-shadow: none;
      color: white;
      -webkit-box-shadow: none;
      -webkit-user-select: none;
      transition: none;
    }

    &:hover {
      color: white;
    }
  }

  a {
    color: unset;

    &:hover {
      color: unset;
      text-decoration: none;
    }
  }

  @media (max-width: 768px) {
    .card {
      width: 100%;
      padding: 1.5rem;
    }

    .info {
      padding: 0;
    }

    img {
      padding: 2.5rem 0;
    }

    .lower {
      i {
        padding: 2vh;
        margin-right: 1vh;
        color: grey;
        border: 1px solid rgb(85, 85, 85);
      }
    }

    .btn {
      background-color: transparent;
      border-color: rgba(186, 216, 125, 0.863);
      color: rgba(186, 216, 125, 0.863);
      padding: 1vh;
      font-size: 0.9rem;
      height: fit-content;
      border-radius: 3px;
    }
  }

}

.restaurats_all_welcome {
  .main {
    width: 50vw;
    height: auto;
    margin: auto;
    background-color: white;
    position: relative;
    top: 15vh;
    padding: 1.5vw
  }

  .head {
    font-size: 2vw
  }

  .head .close {
    font-size: 2vw
  }

  .pica {
    height: 10vw;
    width: 10vw
  }

  .fa-star,
  .fa-star-half-o {
    color: gold
  }

  .lower {
    width: 20vw;
    border-radius: 2vw;
    color: #fff;
    background-color: white
  }

  .lower:hover {
    color: white
  }

  .btn {
    color: #fff !important
  }

  tr {
    border: 2px solid white
  }

  @media only screen and (max-width: 425px) {
    .main {
      width: 110vw;
      height: 100vw
    }

    .head {
      font-size: 5vw
    }

    .head .close {
      font-size: 5vw
    }

    .rate {
      font-size: 4vw
    }

    .pica {
      height: 30vw;
      width: 30vw;
      position: relative;
      right: 5vw
    }

    .upper {
      width: 50vw
    }

    .u2 {
      margin-top: 4vw
    }

    .lower {
      width: 45vw;
      position: relative;
      right: 5vw;
      font-size: 3vw
    }
  }

}
