<h1 class="text-center mt-3">Editing Category</h1>

<%= render 'form', category: @category %>

<%= link_to 'Show', @category, class:"btn btn-info" %> |
<%= link_to 'Back', category_path, class:"btn btn-warning" %>
