
<% unless notice.nil? %>
  <p class="alert alert-warning w-100 mt-5 pt-4"><%= notice %></p>
<% end %>
<% unless alert.nil? %>
  <p class="alert alert-danger w-100 mt-5 pt-4"><%= alert %></p>
<% end %>
